$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

$pd: padding;
$pb: padding-bottom;
$pt: padding-top;
$pl: padding-left;
$pr: padding-right;

$mg: margin;
$mb: margin-bottom;
$mt: margin-top;
$ml: margin-left;
$mr: margin-right;

$break-minipadportrait: 768px;
$break-maxipadportrait: 992px;
$break-minipadlandscape: 993px;
$break-maxipadlandscape: 1024px;
$mobile-break: 767px;