@font-face {
  font-family: "Lato-Light";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype"), url("../fonts/Lato-Light.svg") format("svg");
}

@font-face {
  font-family: "Lato-Regular";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
}

body {
  font: 100% Helvetica, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 32px;
}

h1, .h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 32px;
  color: inherit;
}

h2, .h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  color: inherit;
  margin-bottom: 25px;
  position: relative;
  padding-bottom: 5px;
}

h3, .h3 {
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  color: #771e1e;
}

h4, .h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: inherit;
}

h5, .h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: inherit;
}

h6, .h6 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: inherit;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: inherit;
}

a, a:hover {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
}

h2:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  background: #820b0b;
  width: 5%;
  height: 2px;
  transition: all .3s ease-in-out;
}

h2:hover:after {
  width: 10%;
}

ul {
  display: block;
  list-style-type: none;
  margin-bottom: 0;
}

.list-items li {
  position: relative;
}

.list-items li:after {
  content: "\f0a4";
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  left: -32px;
  color: #880d0d;
}

.spacer {
  padding: 50px 0 0;
}

h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a {
  font: inherit;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, a, li {
  word-break: break-word;
  white-space: normal;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(145, 13, 13, 0.8);
  overflow: hidden;
  color: #fff;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .sidenav-inner {
  position: relative;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 45px 40px;
}

.sidenav .sidenav-inner::-webkit-scrollbar {
  display: none;
}

.sidenav .person-avatar {
  border-radius: 50%;
  margin-bottom: 10px;
}

.sidenav .person-avatar img {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.sitemain:before {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  content: " ";
  display: block;
  width: 25%;
  background: url('../images/home-bg.jpg') top center no-repeat #bababa;
  background-size: cover;
}

.sitemain {
  margin-left: 25%;
}

.sitemain-inner {
  position: relative;
  padding: 50px;
  color: #333;
}

.sitemain .portfolio-section .timeline, .portfolio-timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */

.sitemain .portfolio-section .timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: #a5a5a5;
  top: 0;
  bottom: 0;
  left: 3px;
  margin-left: -3px;
  border-radius: 15px;
}

.sitemain .portfolio-section .timeline .portfolio-timeline:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: -4px;
  background-color: white;
  border: 4px solid #dc3545;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
}

.sitemain .portfolio-section .timeline .portfolio-timeline {
  margin-bottom: 30px;
  padding: 15px;
  transition: all .3s ease-in-out;
}

.sitemain .portfolio-section .timeline .portfolio-timeline:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  transition: all .3s ease-in-out;
  background: rgba(243, 243, 243, 0.4);
}

.sitemain .portfolio-section .timeline .portfolio-timeline .content-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidenav .more-details {
  padding: 45px 0;
}

.sidenav .more-details ul {
  list-style-type: none;
  display: block;
  padding-left: 0;
  margin-bottom: 0;
}

.sidenav a {
  font-size: 14px;
  line-height: 24px;
}

.sitemain-inner .education-section .edu li {
  padding-bottom: 30px;
}

.sitemain-inner .contact-me a {
  font-weight: 600;
}

.sitemain-inner .contact-me a i {
  font-size: 26px;
  padding-right: 10px;
  line-height: 32px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.sitemain-inner .contact-me li:hover a i {
  color: #820b0b;
  -ms-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}

/***************** MEDIA QUERIES *****************/

@media only screen and (max-width: 1000px) {
  .sidenav {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    position: relative;
    width: auto;
    padding-top: 40px;
    padding-bottom: 0;
  }
  .sitemain {
    margin-left: 0;
  }
  .sitemain:before {
    width: 100%;
  }
  .sitemain-inner {
    background-color: #fff;
  }
  .sitemain-inner {
    padding: 30px 20px;
  }
  .sidenav .more-details {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .portfolio-timeline.pl-4 {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    margin-top: 15px;
  }
  .sitemain .portfolio-section .timeline::after {
    display: none;
  }
  .sitemain .portfolio-section .timeline .portfolio-timeline:after {
    left: 8px;
    top: -6px;
  }
  .sitemain .portfolio-section .timeline .portfolio-timeline .content-list {
    display: block;
  }
  h2, .h2 {
    font-size: 28px;
  }
  h3, .h3 {
    font-size: 22px;
  }
  .content h4, .h4 {
    font-size: 20px;
  }
  h5, .h5 {
    font-size: 18px;
  }
  .spacer {
    padding: 25px 0 0;
  }
  .sitemain-inner .education-section .edu li {
    padding-bottom: 20px;
  }
}